@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  background-color: #000;
}

#root {
  height: auto;
  min-height: 100vh;
  @apply font-noto-sans;
}
/*  

*/

/* https://stratz.com/matches/live?sortBy=MOST_POPULAR style */

.custom-shadow {
  filter: drop-shadow(rgb(190, 82, 43) 1px 0px 1px) drop-shadow(rgb(190, 82, 43) -1px 0px 1px) drop-shadow(rgb(190, 82, 43) 0px 1px 1px) drop-shadow(rgb(190, 82, 43) 0px -1px 1px);
}

.custom-shadow-radiant {
  filter:drop-shadow(rgb(58, 182, 107) 1px 0px 1px) drop-shadow(rgb(58, 182, 107) -1px 0px 1px) drop-shadow(rgb(58, 182, 107) 0px 1px 1px) drop-shadow(rgb(58, 182, 107) 0px -1px 1px);
}